.Map-wrapper
  margin-top: 1vh
  height: 80vh
  .Map
    height: 80vh

@media only screen and (min-width: 801px) and (max-width: 1200px)
  .Map-wrapper
    width: 58vw
@media only screen and (min-width: 1201px) and (max-width: 1980px)
  .Map-wrapper
    width: 58vw
