.Map-wrapper
  margin-top: 1vh
  height: 80vh
  .Map
    height: 80vh
    div[style^="background-color: white; font-weight: 500; font-family: Roboto, sans-serif; padding: 15px 25px; box-sizing: border-box; top: 5px; border: 1px solid rgba(0, 0, 0, 0.12); border-radius: 5px; left: 50%; max-width: 375px; position: absolute; transform: translateX(-50%); width: calc(100% - 10px); z-index: 1;"]
      display: none
    button.gm-control-active.gm-fullscreen-control
      display: none
    .gm-style-iw
      color: black
      justify-content: center
      text-align: center

@media only screen and (min-width: 801px) and (max-width: 1200px)
  .Map-wrapper
    width: 58vw
@media only screen and (min-width: 1201px) and (max-width: 1980px)
  .Map-wrapper
    width: 58vw
