.Favorites
  margin-top: 1vh
  text-align: center

  .Favorites-content
    display: inline-block

    .Favorites-country-block
      .Favorites-country
        margin-top: 2vh
        padding: 2vh 0 2vh 0
        background: linear-gradient(rgba(117, 130, 148, 0.8), rgba(117, 130, 148, 0.8))
        border: 0.5px solid rgba(117, 130, 148, 0.2)
        border-radius: 0.5vw

      .Favorites-city
        margin-top: 2vh
        padding-top: 1vh
        min-height: 20vh

      .background:hover
        cursor: pointer
        border: 0.5px solid rgb(88, 98, 111)
        background: linear-gradient(rgba(88, 98, 111, 0.6), rgba(88, 98, 111, 0.6))

@media only screen and (max-width: 500px)
    .Favorites-country-block
      width: 96vw
@media only screen and (min-width: 501px) and (max-width: 800px)
    .Favorites-country-block
      width: 56vw
@media only screen and (min-width: 801px) and (max-width: 1200px)
    .Favorites-country-block
      width: 36vw
@media only screen and (min-width: 1201px) and (max-width: 1980px)
    .Favorites-country-block
      width: 36vw
