.Main
  .Main-content
    display: inline-flex
    flex-direction: row
    .Main-map
      margin-left: 2vh
@media only screen and (max-width: 800px)
    .Main-data-column
      width: 96vw
    .Main-map
      display: none
@media only screen and (min-width: 801px) and (max-width: 1200px)
    .Main-data-column
      width: 36vw
    .Main-map
      width: 58
@media only screen and (min-width: 1201px) and (max-width: 1980px)
    .Main-data-column
      width: 36vw
    .Main-map
      width: 58
